<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
       default-autowire="byName" default-lazy-init="false">

    <import resource="spring-mvc-datasource.xml"></import>


    <!--jdbc/mybatis 应用基于数据源的事务管理器-->
    <bean id="transactionManager_base" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!-- 配置事物管理器，在*ServiceImpl里写@Transactional就可以启用事物管理 -->
    <bean name="transactionManager_hibernate"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="hibernateSessionFactory"></property>
    </bean>

    <!--事务增强-->
    <tx:advice id="txAdvice1" transaction-manager="transactionManager_base">
        <!--事务属性-->
        <tx:attributes>
            <tx:method name="get*" read-only="false"/>
            <!--异常回滚-->
            <tx:method name="add*" rollback-for="Exception"/>
            <!--隔离级别-->
            <tx:method name="update*" isolation="DEFAULT" timeout="-1"/>
            <!--传播行为-->
            <tx:method name="save*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="bussinessService"
                      expression="execution(public * x.y..*.*(..))"/>
        <aop:advisor pointcut-ref="bussinessService"
                     advice-ref="txAdvice1"/>
    </aop:config>


    <aop:config>
        <!--com.baidu包下所有以Forum结束的类-->
        <aop:pointcut id="bussinessService2"
                      expression="execution(* com.baidu.*Forum.*(..))"/>
        <aop:advisor pointcut-ref="bussinessService"
                     advice-ref="txAdvice1"/>
    </aop:config>


    <!--对标注 Transactional注解的bean 进行加工增强-->
    <tx:annotation-driven transaction-manager="transactionManager_hibernate"/>


    <!-- JSR303 Validator定义 -->

    <bean id="validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
</beans>